*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-height:100vh;
}

.infro{
    border: 2px solid #EAF4FC;
    background-color: #EAF4FC;
    box-shadow: 0 0 30px blue;
    border-radius: 20px;
    width:90%;
    max-width:400px;
    padding:10px 20px;
    margin:20vh auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: space-around;
    /* align-items: spa; */
}


.data{
    width:100%;
    display: flex;
    /* gap:10px; */
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

label{
    flex:1;
    font-weight: bold;
    /* text-align: center; */
    /* padding-left: 30px; */
}

input{
    flex:1;
    padding:5px 10px;
    border:none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding-left:20px;
}

input:focus{
    border:none;
    background-color: #e8f5e9;
}

input[type=color]{
    border:1px solid black;
    display:block;
}